<footer class="py-6 bg-carbon border-t border-white/5 mt-0">
        <div class="flex flex-col items-center justify-center gap-0"> <img 
                src="/assets/images/logo.svg" 
                alt="Roman Wantulok Logo" 
                class="w-40 md:w-60 opacity-80 hover:opacity-100 transition-opacity duration-300"
            />
            
            <p class="text-tungsten text-[10px] uppercase tracking-widest font-light -mt-4 relative z-10">
                © 2026 Roman Wantulok. All rights reserved.
            </p>
            
        </div>
    </footer>